<br>

<div class="container">

  <div class="row">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">提供最貼心和最溫暖的專業汽車維修服務。</h1>
          <p class="lead text-right">創辦人 <cite title="Nelson Choi">Nelson Choi</cite></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>太陽汽車服務公司成立於二零零二年，現在是本港最大型的汽車維修中心之一。</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-12">
      <p>我們一直堅守以上宗旨，我們深信只有一直以客為先，提供最專業和最高質素的汽車服務才是致勝之道。</p>
      <p>我們專門為世界各品牌汽車提供一站式、專業及快捷妥當的保養及維修服務，同時提供各種體貼的汽車售後服務，包括：特平驗車、第三者追數、音響防盜和特平保險，絕對能照顧客人所有需求。</p>
      <p>而且我們不斷引入不少先進電子儀器及工具，以應付不斷日新月異之汽車技術，滿足廣大顧客需要 。</p>
      <p>我們承諾無論在維修保養、車身燒焊、汽車焗油技術，經驗及資訊各方面，不斷與時並進，務求令各位顧客得到最稱心滿意和最溫暖的服務。</p>
    </div>
  </div>

</div>
