<br>

<div class="container">

  <div class="row">
    <div class="col-12">
      <h1>服務簡介</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>汽車保養</h3>
      <p>世界上所有的機械設備都有一定的壽命，包括汽車。除了車輛本身耐用的設計，如果沒有良好的保養體系及好的保養用品，壽命一定會縮短。只要能做好定期保養，便可讓愛車保持最佳狀況並使其壽命增長。</p>
      <p>本公司提供整個引擎的檢修、更換工程，全部一應俱全。</p>
      <ol>
        <li>預防勝於治療，及早發現車輛異況及早解決，對車主本人、乘客和其他道路使用者更安全。</li>
        <li>定期維護車輛，避免車輛損壞擴大，替您省下大筆金錢。</li>
        <li>保持機件發揮最高效能，愛車更省油。</li>
        <li>平時仔細呵護，令機件運行更暢順，延長愛車使用壽命。</li>
        <li>保持性能良好，更換新車時，提高轉售價值。</li>
      </ol>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>汽車音響</h3>
      <p>一邊駕駛，一邊欣賞喜愛的歌曲或音樂，實在是一件賞心樂事。無論是價錢大眾化的基本音響套裝，或頂級的汽車影音系統，我們可以根據客戶的要求，提供專業的選購建議及安裝服務。</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>汽車防盜</h3>
      <p>汽車防盜器就是一種安裝在車上，用來增加盜車難度，延長盜車時間的裝置，是汽車的保護神。它通過將防盜器與汽車電路配接在一起，從而可以達到防止車輛被盜、被侵犯、保護汽車並實現防盜器各種功能的目的。</p>
      <p>如果客戶希望在原裝汽車標準防盜配備之外，加上額外的保護，以減低被偷竊的風險，我們會為你提供專業建議。</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>特平保險</h3>
      <p>眾所周知，任何車輛在香港特別行政區範圍內行走都至少需要購買第三者責任保險，以保障其他道路使用者。不過第三者責任保險（Third Party Liabilities Only Policy）只是最基本，對投保人本身（即駕駛者）車輛的保障並未覆蓋。因此，本公司提供第三者責任保險及全保，保障您和其他道路使用者。</p>
      <br>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>種類</th>
          <th>介紹</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>第三者責任保險</td>
          <td>
            承保範圍包括：
            <ol>
              <li>對第三者人身傷亡的法律責任。</li>
              <li>對第三者財物損毀的法律責任。</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>全保</td>
          <td>
            承保範圍包括：
            <ol>
              <li>第三者責任保險。</li>
              <li>火焚及汽車被盜。</li>
              <li>本身車輛因意外碰撞或遭惡意破壞。</li>
              <li>賠償在交通意外中對方損毀車輛（如責任在我方）</li>
            </ol>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
